	<div id="categoryView" data-dojo-type="dojox.mobile.ScrollableView" selected="true">	
	<h1 data-dojo-type="dojox.mobile.Heading" class="miViewHeader" label="Categories" fixed="top">
	</h1>
		<ul id="categoryList" data-dojo-type="dojox.mobile.EdgeToEdgeList">
		</ul>
	</div>
	
	<div data-dojo-type="dojox.mobile.ScrollableView" id="moviesView_cat">
		<h1 data-dojo-type="dojox.mobile.Heading" back="back"
			moveTo="categoryView" id="categoryTitle" fixed="top"></h1>
			<div id="moviesList_cat" data-dojo-type="dojox.mobile.EdgeToEdgeList"></div>
	</div>
