	<div id="topView" data-dojo-type="dojox.mobile.ScrollableView" selected="true">	
	<h1 data-dojo-type="dojox.mobile.Heading" class="miViewHeader" label="Top Rate" fixed="top">
	</h1>
		<ul id="topList" data-dojo-type="dojox.mobile.EdgeToEdgeList">
		</ul>
	</div>
	
	<div data-dojo-type="dojox.mobile.ScrollableView" id="moviesView_top">
		<h1 data-dojo-type="dojox.mobile.Heading" back="back"
			moveTo="topView" id="topTitle" fixed="top"></h1>
			<div id=moviesList_top data-dojo-type="dojox.mobile.EdgeToEdgeList"></div>
	</div>
